@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-[#06202A] text-gray-300; */
    /* @apply bg-gradient-to-b from-cyan-600 via-cyan-600 to-[#06202A] text-gray-300 w-screen h-screen; */
    @apply bg-gradient-to-b from-cyan-600 via-cyan-600 to-[#06202A] text-gray-300;
  }
}

/* html.lock-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
} */

body {
  overscroll-behavior: none;
}
